@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}
a,
img {
  cursor: pointer;
}

/* css for sidebar dropdown menu 
 */
.sidebar-menu {
  @apply py-2 hover:bg-black hover:text-white w-full text-center;
}


* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
