@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  /* overflow-x: hidden; */
}

@layer base {
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  h1 {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  img,
  a,
  button {
    cursor: pointer;
  }

  input,
  textarea {
    border: 0.5px solid #ff00ff;
    /* outline: #ff00ff; */
  }
}
@layer components {
  .nav {
    @apply hover:border-b-2 hover:border-pink-500 hover:transition-all hover:duration-100;
  }
  .bg-color {
    @apply md:text-4xl  bg-gradient-to-r font-bold from-purple-500 to-pink-500 bg-clip-text text-transparent;
  }
  .skills {
    @apply h-2  w-52 md:w-72 rounded-full bg-gradient-to-r from-purple-500 to-pink-500;
  }

  .service {
    @apply border-2 border-white rounded-md  md:px-4  px-3 py-5  md:py-10 cursor-pointer flex flex-col gap-3 hover:bg-gradient-to-r from-[#3f0028] to-[#582300] hover:transform hover:scale-105 hover:border-[#ff00ff] hover:transition-all hover:duration-500;
  }
}
